<h1> Edit Arti$t </h1>

<form  method="post" action="/default/artists_edit/<%=@artist.id%>" >

  <label for= "name"> Artist Name:</label>
  <input
  type = "text"
  name="name"
  id="name"
  value="<%= @artist.name %>"/>

  <label for= "style"> Artist Style:</label>
  <input
  type = "text"
  name="style"
  id="style"
  value="<%= @artist.style %>"/>

  <label for= "info"> Artist Info:</label>
  <input
  type = "text"
  name="info"
  id="info"
  value="<%= @artist.info %>"/>

  <input type="submit" value="Edit Artist"/>
</form>
