<h1> adim page </h1>

<nav>
  <ul>
    <li><a href="/default/artists_new">add artist</a></li>
    <li><a href="/default/artists_edit">edit artist</a></li>
    <li><a href="/default/artists_delete">delete artist</a></li>
    <li><a href="/default/exhibits_new">add exhibit</a></li>
    <li><a href="/default/exhibits_edit">edit exhibit</a></li>
    <li><a href="/default/exhibits_delete">delete exhibit</a></li>
  </ul>
</nav>
