
  <h1>Weclome To Kool Biz Galliers</h1>

  <h2>Home of Art</h2>

    <ul>
      <% for exhibit in @exhibits %>

        <li>
          <p> Title: <%= exhibit.title%></p>
          <p> Style: <%= exhibit.style%></p>
          <p> Info: <%= exhibit.info%></p>
        </li>

      <%end%>
    <ul>





  
