
  <h1>Weclome To Kool Biz Galliers</h1>

  <h2>Home of Dank Art</h2>

  <div id= "exhibit">
    <%= @exhibit.each do |exhibit| %>

    <div class="exhibit">
      <h3><a href="/exhibits/<% exhibit.id %>"></a></h3>
      <p>Title:<%= exhibit.title%></p>
      <p>Artist:<%= exhibit.artist.name %></p>
    </div>
    
  </div>
