<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kool Biz Galliers</title>
    <link rel="stylesheet" href="/style_sheet.css">
  </head>

  <body>
    <header>

    <nav>
      <ul>
        <img src="https://thumbs.gfycat.com/DeficientIllinformedAvocet.webp">


        <li><a href="/">Home</a></li>
        <li><a href="/artists"> ⛔️Artist⛔️ </a></li>
        <li><a href="/exhibits">⛔️Exhibit⛔️</a></li>
        <li><a href="/default">⛔️Add⛔️</a></li>
      </ul>

    </nav>
    </header>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
