<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kool Biz Galliers</title>
    <link rel="stylesheet" href="/style_sheet.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/artists"> Artist </a></li>
        <li><a href="/exhibits">Exhibit</a></li>
        <li><a href="/default">Staff</a></li>
      </ul>

    </nav>
    <%= yield %>
  </body>
</html>
