<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kool Biz Galliers</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/galliers'> Load$ of Art</a> </li>
        <li><a href="/artists"> Talented Folk$</a></li>
        <li><a href="/default">$taff Only</a></li>
      </ul>

    </nav>
    <%= yield %>
  </body>
</html>
