<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kool Biz Galliers</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/exhibits'> Load$ of Art</a> </li>
        <li><a href="/exhibits"> Talented Folk$</a></li>  
        <li><a href="/exhibtis/new">⛔️Management Only⛔️</a></li>
      </ul>

    </nav>
    <%= yield %>
  </body>
</html>
