<h1>Welcome To Kool Biz Gallier$</h1>

<h3> We're only in it for the money </h3>

<h2>Featured Artists</h2>

<% for artist in @artists %>

    <p><a href="/artists/<%= artist.id%>"><%= artist.name%></a></p>

    <% end %>
